.why-section {
  padding: 60px 20px;
  background: #ffffff;
  text-align: center;
}

.why-header h2 {
  font-size: 32px;
  color: #133b5c;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.underline {
  width: 70px;
  height: 5px;
  background: #133b5c;
  margin: 10px auto 20px auto;
  border-radius: 4px;
}

.why-header p {
  max-width: 600px;
  margin: auto;
  color: #555;
  font-size: 18px;
}

/* GRID */
.why-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.why-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.12);
}

/* ICON */
.icon {
  font-size: 50px;
  color: #133b5c;
  margin-bottom: 15px;
}

/* TEXT */
.why-card h3 {
  font-size: 18px;
  color: #133b5c;
  margin-bottom: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.why-card p {
  color: #555;
  font-size: 17px;
  line-height: 1.5;
}

/* ANIMATION */
.slide-left {
  opacity: 0;
  transform: translateX(-30px);
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .why-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
